@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Outfit:wght@400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

h1, h2 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
  padding: 1rem 2rem 0.5rem 5rem;
}

p {
  color: white;
}

.container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}
.container section {
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-one {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
  position: relative;
}
.section-one .section-one-title {
  display: flex;
  align-items: center;
  padding: 2rem 2rem 0.5rem 6rem;
}
.section-one .section-one-title img {
  width: 4rem;
  opacity: 90%;
}
.section-one .section-one-title h1 {
  font-size: 4.5rem;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
  padding: 0 0 0 0.7rem;
}
.section-one .section-one-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 2rem 0rem 2rem;
}
.section-one .section-one-content .right-side-content {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
}
.section-one .section-one-content .right-side-content div {
  margin-top: 3rem;
  margin-left: 2rem;
}
.section-one .section-one-content .site-description {
  height: auto;
  width: 28rem;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 2rem;
  border: 0.1rem dotted white;
}
.section-one .section-one-content .site-description p {
  font-size: 1rem;
  line-height: 1.6rem;
  padding: 1.5rem 2rem;
  text-align: justify;
}
.section-one .section-one-content .site-description p span {
  text-decoration: underline;
}
.section-one .section-one-content .site-description p span a {
  color: #1ec7be;
}
.section-one .section-one-content .icons-container {
  text-align: center;
}
.section-one .section-one-content .icons-container img {
  width: 4.5rem;
  opacity: 90%;
}
.section-one .section-one-content .button-div {
  text-align: center;
}
.section-one .section-one-content .button-div a {
  background-color: rgba(255, 255, 255, 0.13);
  text-decoration: none;
  color: white;
  border: 0.1rem solid white;
  padding: 0.6rem 2.2rem;
  height: auto;
}
.section-one .darkmode-buttons {
  position: fixed;
  top: 2rem;
  right: 3rem;
  z-index: 10;
}
.section-one .darkmode-buttons .switch {
  background-color: #110f36;
  border-radius: 60rem;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
}
.section-one .darkmode-buttons .switch::after {
  content: "";
  display: block;
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 60rem;
  position: absolute;
  top: 0;
  left: 0;
  right: unset;
  transition: 0.5s ease all;
}
.section-one .darkmode-buttons .switch.active {
  background-color: orange;
  color: black;
}
.section-one .darkmode-buttons .switch.active::after {
  right: 0;
  left: unset;
}
.section-one .darkmode-buttons .switch span {
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  display: block;
  color: white;
}
.section-one .darkmode-text-container {
  position: absolute;
  width: 12rem;
  top: 3.5rem;
  right: 0.5rem;
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  display: none;
}
.section-one .darkmode-text-container .white-arrow {
  width: 5rem;
  rotate: -53deg;
}
.section-one .darkmode-text-container p {
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-shadow: 2.8px 2.5px 2px #333333;
}
.section-one .author-info {
  position: absolute;
  bottom: 0;
  right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 90%;
}
.section-one .author-info div {
  margin-top: 0.8rem;
}
.section-one .author-info .line {
  height: 4rem;
  width: 0.08rem;
  background-color: rgba(255, 255, 255, 0.712);
}
.section-one .author-info a {
  text-decoration: none;
}
.section-one .author-info a i {
  color: white;
  font-size: 1.7rem;
  transition: all 0.3s linear;
}
.section-one .author-info a i:hover {
  color: orange;
}

@media all and (max-width: 576px) {
  .section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-one .section-one-title {
    flex-direction: column;
    padding: 1rem 1rem 1.5rem 1rem;
  }
  .section-one .section-one-title img {
    width: 2.5rem;
  }
  .section-one .section-one-title h1 {
    font-size: 2.5rem;
    padding: 1rem 0 0 0;
    text-align: center;
  }
  .section-one .section-one-content {
    flex-direction: column;
    margin: 1rem 0.8rem 0rem 0.8rem;
  }
  .section-one .section-one-content .right-side-content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .section-one .section-one-content .right-side-content div {
    margin-top: 1rem;
    margin-left: 0;
  }
  .section-one .section-one-content .site-description {
    height: auto;
    width: 95%;
  }
  .section-one .section-one-content .site-description p {
    font-size: 0.9rem;
    line-height: 1.3rem;
    padding: 1rem 1rem;
    text-align: justify;
  }
  .section-one .section-one-content .icons-container img {
    width: 2.5rem;
  }
  .section-one .section-one-content .button-div {
    text-align: center;
    padding-top: 1rem;
  }
  .section-one .darkmode-buttons {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
  }
  .section-one .darkmode-text-container {
    width: 8rem;
    top: 2.5rem;
    right: 0.2rem;
    text-align: right;
  }
  .section-one .darkmode-text-container .white-arrow {
    display: none;
  }
  .section-one .darkmode-text-container p {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  .section-one .author-info {
    position: absolute;
    bottom: 0;
    right: 1.5rem;
  }
  .section-one .author-info div {
    margin-top: 0.4rem;
  }
  .section-one .author-info .line {
    height: 2rem;
    width: 0.08rem;
    background-color: rgba(255, 255, 255, 0.712);
  }
  .section-one .author-info a i {
    font-size: 1.3rem;
  }
}
.section-two {
  height: auto;
  background-color: #4c4177;
  background-image: linear-gradient(315deg, #380036 0%, #2a5470 74%);
}
.section-two .section-two-title {
  display: flex;
}
.section-two .section-two-title h2 {
  line-height: 2.5rem;
  font-size: 3.5rem;
  color: white;
}
.section-two .section-two-title .first-h2 {
  padding-top: 3rem;
}
.section-two .section-two-title .second-h2 {
  padding-left: 25rem;
  padding-bottom: 3rem;
}
.section-two .section-two-title img {
  margin-top: 6rem;
  width: 4rem;
  height: 4rem;
  opacity: 90%;
}
.section-two .form-container {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.section-two .form-container fieldset {
  border: none;
}
.section-two .form-container legend {
  margin: 1rem auto;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.section-two .form-container form {
  height: auto;
  width: 35rem;
  background-color: rgba(255, 255, 255, 0.13);
  padding: 0.2rem;
  border-radius: 1rem;
}
.section-two .form-container form .generos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}
.section-two .form-container form .generos div {
  display: flex;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}
.section-two .form-container form .generos div input[type=radio] {
  margin: 0 0.4rem 0 0;
}
.section-two .form-container form hr {
  margin: 1rem 0;
  color: rgba(255, 255, 255, 0.13);
}
.section-two .form-container form .todo {
  display: flex;
  justify-content: center;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}
.section-two .form-container form .todo input[type=radio] {
  margin: 0 0.4rem 0 0;
}
.section-two .form-container form .select-button {
  display: flex;
  justify-content: center;
}
.section-two .form-container form .select-button button {
  margin: 0.5rem auto;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
.section-two #filters {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0rem 0;
}
.section-two #filters #filter_container {
  display: none;
}
.section-two #filters #filter_container .filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section-two #filters #filter_container .filter-buttons button {
  width: 10rem;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.5rem;
  cursor: pointer;
}
.section-two #filters #filter_container .filter-buttons i {
  margin-left: 0.5rem;
}

.main-movies-container {
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-bottom: 2rem;
  scroll-snap-align: end;
}
.main-movies-container div {
  width: 15rem;
  max-width: 15rem;
  text-align: center;
  padding: 1rem 2rem;
  position: relative;
  margin: 0.8rem 0rem;
}
.main-movies-container div .poster {
  width: 10rem;
  border: 0.1rem solid gray;
}
.main-movies-container div .rating-container {
  position: absolute;
  top: -0.5rem;
  right: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
}
.main-movies-container div .rating-container .star-img {
  position: absolute;
  top: -0.05rem;
  right: 0.6rem;
  width: 2.8rem;
  height: 2.8rem;
  opacity: 90%;
}
.main-movies-container div .rating-container .rate {
  position: absolute;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
}
.main-movies-container div h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  color: white;
}
.main-movies-container div p {
  color: white;
}
.main-movies-container div p, .main-movies-container div a {
  font-size: 0.85rem;
  line-height: 1.1rem;
}
.main-movies-container div a {
  color: orange;
  text-decoration: none;
}
.main-movies-container div a:hover {
  text-decoration: underline;
}

@media all and (max-width: 576px) {
  .section-two .section-two-title {
    display: flex;
    flex-direction: column;
  }
  .section-two .section-two-title h2 {
    padding: 0 0;
    line-height: 2.5rem;
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  .section-two .section-two-title .first-h2 {
    padding-top: 2.5rem;
  }
  .section-two .section-two-title .second-h2 {
    padding-left: 0rem;
    padding-bottom: 0rem;
  }
  .section-two .section-two-title img {
    margin-top: 1rem;
    margin: 1rem auto;
    width: 2.5rem;
    height: 2.5rem;
  }
  .section-two .form-container legend {
    padding-top: 0.5rem;
    font-size: 0.8rem;
  }
  .section-two .form-container form {
    height: auto;
    width: 100%;
  }
  .section-two .form-container form .generos div {
    display: flex;
    margin: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
  }
  .section-two .form-container form .generos div input[type=radio] {
    margin: 0 0.4rem 0 0;
  }
  .section-two .form-container form hr {
    margin: 0.6rem 0;
    color: rgba(255, 255, 255, 0.13);
  }
  .section-two .form-container form .todo {
    margin: 0rem 1rem;
  }
  .section-two .form-container form .select-button button {
    padding: 0.2rem 0.6rem;
  }
  .section-two #filters #filter_container .filter-buttons {
    flex-direction: column;
  }
}
.section-three {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  margin: 0 auto;
  max-height: 100vh;
}
.section-three .section-three-title {
  display: flex;
  padding: 2rem 0;
}
.section-three .section-three-title h2 {
  line-height: 2.5rem;
  font-size: 3.5rem;
}
.section-three .section-three-title img {
  width: 4rem;
  height: 4rem;
  margin-top: 0.2rem;
}
.section-three .section-three-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 5rem;
}
.section-three .section-three-content div {
  margin: 0 1.5rem;
}
.section-three .left-side-content {
  width: 25rem;
}
.section-three .text {
  text-align: center;
  font-size: 1.3rem;
  line-height: 1.8rem;
}
.section-three .random-button {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
.section-three .random-button button {
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
.section-three #display_random {
  background-color: rgba(255, 255, 255, 0.13);
  height: 25rem;
  width: 30rem;
  border: 0.1rem dotted white;
}
.section-three #display_random .random-movie {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  position: relative;
}
.section-three #display_random .random-movie div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0.8rem 0.5rem;
}
.section-three #display_random .random-movie div .poster {
  width: 10rem;
  max-width: 10rem;
  border: 0.1rem solid gray;
}
.section-three #display_random .random-movie div .rating-container {
  position: absolute;
  top: -0.8rem;
  right: 7.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
}
.section-three #display_random .random-movie div .rating-container .star-img {
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  opacity: 90%;
}
.section-three #display_random .random-movie div .rating-container .rate {
  min-width: 0.5rem;
  max-width: 0.5rem;
  position: absolute;
  top: 0.1rem;
  right: 0.6rem;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
}
.section-three #display_random .random-movie div h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem 0;
  color: white;
}
.section-three #display_random .random-movie div p, .section-three #display_random .random-movie div a {
  font-size: 0.85rem;
  line-height: 1.1rem;
}
.section-three #display_random .random-movie div a {
  color: orange;
  text-decoration: none;
}
.section-three #display_random .random-movie div a:hover {
  text-decoration: underline;
}

@media all and (max-width: 576px) {
  .section-three .section-three-title {
    flex-direction: column;
    padding: 2rem 0;
  }
  .section-three .section-three-title h2 {
    padding: 1rem 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .section-three .section-three-title img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
  }
  .section-three .section-three-content {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem;
  }
  .section-three .section-three-content div {
    margin: 0 1.5rem;
  }
  .section-three .left-side-content {
    width: 100%;
  }
  .section-three .text {
    font-size: 1.1rem;
    line-height: 1.4rem;
  }
  .section-three .random-button {
    display: flex;
    justify-content: center;
    padding: 1.2rem 0;
  }
  .section-three #display_random {
    background-color: rgba(255, 255, 255, 0.13);
    height: 20rem;
    width: 100%;
    max-width: 20rem;
    border: 0.1rem dotted white;
    margin: 1.2rem 0;
  }
  .section-three #display_random .random-movie {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    position: relative;
  }
  .section-three #display_random .random-movie div {
    margin: 0.8rem 0.5rem;
  }
  .section-three #display_random .random-movie div .poster {
    width: 8rem;
    max-width: 10rem;
  }
  .section-three #display_random .random-movie div .rating-container {
    position: absolute;
    top: -0.8rem;
    right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
  }
  .section-three #display_random .random-movie div .rating-container .star-img {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    opacity: 90%;
  }
  .section-three #display_random .random-movie div h3 {
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0.2rem 0;
    color: white;
  }
  .section-three #display_random .random-movie div p, .section-three #display_random .random-movie div a {
    font-size: 0.7rem;
    line-height: 0.8rem;
  }
  .section-three #display_random .random-movie div a {
    color: orange;
    text-decoration: none;
  }
  .section-three #display_random .random-movie div a:hover {
    text-decoration: underline;
  }
}
.section-four {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #380036 0%, orange 74%);
}
.section-four .section-four-title {
  display: flex;
  justify-content: center;
}
.section-four .section-four-title img {
  width: 4rem;
  height: 4rem;
  margin: 2.2rem 1rem;
}
.section-four .section-four-title h2 {
  padding: 2rem 0;
  text-align: center;
}

@media all and (max-width: 576px) {
  .section-four .section-four-title {
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
  }
  .section-four .section-four-title img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
  }
  .section-four .section-four-title h2 {
    padding: 0rem 0;
    font-size: 2.5rem;
  }
}
#quiz_game {
  padding-top: 4rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quiz_game .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 2rem 0;
  color: white;
}
#quiz_game .title h1 {
  font-family: "Otomanopee One", sans-serif;
  font-size: 3.5rem;
  text-transform: uppercase;
}
#quiz_game .title i {
  margin: 0 2rem;
  font-size: 1.8rem;
}
#quiz_game .quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  background-color: white;
  border-radius: 1rem;
  min-height: 20rem;
  position: relative;
}
#quiz_game .quiz-container .levels-container {
  text-align: center;
}
#quiz_game .quiz-container .levels-container .select-diff {
  font-family: "Outfit", sans-serif;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin-bottom: 2rem;
}
#quiz_game .quiz-container .levels-container button {
  font-size: 1.1rem;
}
#quiz_game .quiz-container .question-container {
  text-align: center;
}
#quiz_game .quiz-container .question-container h3 {
  font-family: "Outfit", sans-serif;
  font-size: 3rem;
  color: black;
  font-weight: 600;
  margin: 2rem 0;
  text-align: center;
}
#quiz_game .quiz-container .question-container p, #quiz_game .quiz-container .question-container .final-score {
  font-family: "Outfit", sans-serif;
  font-size: 1.3rem;
  color: black;
  font-weight: 500;
  margin: 2rem 0;
  text-align: center;
}
#quiz_game .quiz-container .question-container p {
  padding: 1rem 1rem 0 1rem;
}
#quiz_game .quiz-container .question-container .final-score {
  color: #380036;
  font-size: 1.8rem;
}
#quiz_game .quiz-container .question-container .buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#quiz_game .quiz-container .question-container .buttons-container .options-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "option1 option2" "option3 option4";
  text-align: center;
  margin-bottom: 2rem;
  align-items: center;
}
#quiz_game .quiz-container .question-container .question-number {
  position: absolute;
  top: -2.3rem;
  right: 0.8rem;
  font-size: 1.2rem;
  color: gray;
}
#quiz_game .quiz-container .option, #quiz_game .quiz-container .start-button, #quiz_game .quiz-container .restart-button {
  margin: 0.5rem 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
  background-color: #b6b6b6;
  border: none;
  width: 10rem;
  height: auto;
  min-height: 3rem;
  font-size: 0.9rem;
}
#quiz_game .quiz-container .start-button, #quiz_game .quiz-container .restart-button {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Outfit", sans-serif;
  transition: all 0.4s linear;
}
#quiz_game .quiz-container .start-button:hover, #quiz_game .quiz-container .restart-button:hover {
  background-color: #380036;
  color: white;
}
#quiz_game .quiz-container .restart-button {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
#quiz_game .quiz-container d .option1 {
  grid-area: option1;
}
#quiz_game .quiz-container .option2 {
  grid-area: option2;
}
#quiz_game .quiz-container .option3 {
  grid-area: option3;
}
#quiz_game .quiz-container .option4 {
  grid-area: option4;
}

.perfect-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  margin: 1.8rem;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
}

.hide {
  display: none;
}

@media all and (max-width: 576px) {
  #quiz_game .title h1 {
    font-size: 2.6rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
  }
  #quiz_game .quiz-container {
    width: 90%;
  }
  #quiz_game .question-container h3 {
    font-size: 2.6rem;
  }
  #quiz_game .question-container .option, #quiz_game .question-container .start-button, #quiz_game .question-container .restart-button {
    padding: 0.5rem;
    background-color: lightgray;
    width: auto;
    max-width: 9rem;
    font-size: 0.9rem;
  }
}
@media all and (max-width: 576px) {
  .container {
    scroll-snap-type: unset;
    overflow-y: scroll;
    min-height: 100vh;
    height: auto;
  }
  .container section {
    min-height: 100vh;
    height: auto;
    scroll-snap-align: unset;
  }
}
.darkMode {
  background-color: #485461;
  background-image: linear-gradient(315deg, #202122 0%, #28313b 74%);
  color: white;
}

/*# sourceMappingURL=style.css.map */
