// SECTION TWO


.section-two {
    height: auto;

    // background-color: #0cbaba;
    // background-image: linear-gradient(315deg,  #380036 0%,  rgb(207, 142, 22) 74%);

    background-color: #4c4177;
    background-image: linear-gradient(315deg, #380036 0%, #2a5470 74%);

    
    .section-two-title {
        display: flex;

        h2{
            line-height: 2.5rem;
            font-size: 3.5rem;
            color: white;
        }

        .first-h2 {
            padding-top: 3rem;
        }

        .second-h2 {
            padding-left: 25rem;
            padding-bottom: 3rem;
        }

        img {
            margin-top: 6rem;
            width: 4rem; height: 4rem;
            opacity: 90%;
        }
    }

    .form-container {
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        fieldset {
            border: none;
        }

        legend {
            margin: 1rem auto;
            font-size: 0.9rem;
            text-transform: uppercase;
            color:white;
            font-weight: 600;
        }

        form {
            height: auto;    width: 35rem;
            background-color: $transparent-white;
            padding: 0.2rem;
            border-radius: 1rem;

            .generos {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                color: white;
                
                div {
                    display: flex;
                    margin: 0.5rem 1rem;
                    font-size: 1rem;
                    font-weight: 400;

                    input[type="radio"] {
                        margin: 0 0.4rem 0 0;
                    }
                }
            }

            hr {
                margin: 1rem 0;
                color: $transparent-white;
            }

            .todo {
                display: flex;
                justify-content: center;
                margin: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: 400;
                color: white;

                input[type="radio"] {
                    margin: 0 0.4rem 0 0;
                }
            }

            .select-button {
                display: flex;
                justify-content: center;

                button {
                    margin: 0.5rem auto;
                    padding: 0.3rem 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }

    #filters {
        display: flex;
        justify-content: center;
        margin: 3rem 0 0rem 0;
    
        #filter_container {
            display: none;

            .filter-buttons {
                 display: flex;     
                 flex-direction: row;
                 justify-content: center;
                 align-items: center;
         
                 button {
                     width: 10rem;
                     padding: 0.2rem 0.5rem;
                     margin: 0.2rem 0.5rem;
                     cursor: pointer;
                 }
         
                 i {
                     margin-left: 0.5rem;
                 }
             }
         }
    }
}

.main-movies-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 2rem;
    
    scroll-snap-align: end;   

    div {
        width: 15rem;
        max-width: 15rem;
        text-align: center;
        padding: 1rem 2rem;
        position: relative;
        margin: 0.8rem 0.5rem;

        .poster {
            width: 10rem;
            border: 0.1rem solid rgb(128, 128, 128);
        }

        .rating-container {
            position: absolute;
            top: -0.5rem; right: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.8rem;  height: 2.8rem;

            .star-img {
                position: absolute;
                top: -0.05rem; right: 0.6rem;
                width: 2.8rem;  height: 2.8rem;
                opacity: 90%;
            }
    
            .rate {
                position: absolute;      
                color: black;
                font-size: 0.9rem;
                font-weight: bold;
            }      
        }

        h3 {
            font-size: 1rem;
            text-transform: uppercase;
            margin: 0.5rem 0;
            color: white;
        }

        p {
            color: white;
        }

        p, a {
            font-size: 0.85rem;
            line-height: 1.1rem;
        }

        a {
            color: orange;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}