@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Outfit:wght@400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,700&display=swap');

// variables
$main-font: 'Otomanopee One', sans-serif;
$accent-font: 'Outfit', sans-serif;
$third-font: 'PT Serif', serif;

// colors
$transparent-white: rgba(255, 255, 255, 0.13);
$purple: #50054d;


//--------------------------------------------------------------


* {
    margin: 0;  padding: 0;
    box-sizing: border-box;
    font-family: $accent-font;
    scroll-behavior: smooth;
}


h1, h2 {
    color: white; 
    font-size: 4rem;
    text-transform: uppercase;
    padding: 1rem 2rem 0.5rem 5rem;
}

p {
    color: white;
}

.container {
    scroll-snap-type: y proximity; //proximity / mandatory
    overflow-y: scroll;
    height: 100vh;

    section {
        min-height: 100vh; 
        scroll-snap-align: start;   
    }
}



//--------------------------------------------------------------


// SECTION ONE

.section-one {
    background-color: #2a2a72;
    background-image: linear-gradient(315deg,#009ffd 0%, #2a2a72 74%);
    position: relative;

    .section-one-title {
        display: flex;
        align-items: center;
        padding: 2rem 2rem 0.5rem 6rem;

        i {
            font-size: 2.5rem;
            color: white;
        }

        img {
            width: 4rem;
            opacity: 90%;
        }

        h1 {
            font-size: 4.5rem;
            font-weight: bold;
            font-family: $accent-font;
            padding: 0 0 0 0.7rem;
        }
    }

    .section-one-content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5rem 2rem 0rem 2rem;

        .right-side-content {
            display: flex;
            flex-direction: column;
            margin-top: -4rem;

            div {
                margin-top: 3rem;
                margin-left: 2rem;
            }
        } 

        .site-description {
            height: auto; width: 28rem;
            background-color: $transparent-white;
            border-radius: 2rem;
            border: 0.1rem dotted white;
    
            p {
                font-size: 1rem;
                line-height: 1.6rem;
                padding: 1.5rem 2rem;
                text-align: justify;
    
                span {
                    text-decoration: underline;

                    a {
                        color: rgb(30, 199, 190)
                    }
                }
            }
        }

        .icons-container {
            text-align: center;

            img {
                width: 4.5rem;
                opacity: 90%;
            }
        }

        .button-div {
            text-align: center;
            
            a {
                background-color: $transparent-white;
                text-decoration: none;
                color: white;
                border: 0.1rem solid white;
                padding: 0.6rem 2.2rem;
                height: auto;
            }
        }
    }

    .darkmode-buttons {
        position: fixed;
        top: 2rem; right: 3rem;
        z-index: 10;

        .switch {
            background-color: rgb(17, 15, 54);
            border-radius: 60rem;
            border: none;
            position: relative;
            cursor: pointer;
            display: flex;
            outline: none;
        
            &::after {
                content: "";
                display: block;
                background-color: white;
                width: 1.8rem; height: 1.8rem;
                border-radius: 60rem;
                position: absolute;
                top: 0; left: 0; right: unset;
                
                transition: 0.5s ease all;
            }
        
            &.active {
                background-color: orange;
                color: black;
        
                &::after {
                    right: 0; left: unset;
                }
            }
        
            span {
                width: 1.8rem; height: 1.8rem; line-height: 1.8rem;
                display: block;
                color: white;
            }
        }
    }

    .darkmode-text-container {
        position: absolute;
        width: 12rem;
        top: 3.5rem; right: 0.5rem;
        text-align: center;
        padding: 1rem;
        border-radius: 50%;
        display: none;

        .white-arrow {
            width: 5rem;
            rotate: -53deg;
        }

        p {
            font-size: 0.9rem;
            line-height: 1.3rem;
            text-shadow: 2.8px 2.5px 2px rgb(51, 51, 51);
        }
    }

    .author-info {
        position: absolute;
        bottom: 0;  right: 3rem;
        display: flex;  
        flex-direction: column;
        align-items: center;   justify-content: center;
        opacity: 90%;

        div {
            margin-top: 0.8rem;
        }

        .line {
            height: 4rem; width: 0.08rem;
            background-color: rgba(255, 255, 255, 0.712);
            
        }

        a {
            text-decoration: none;

            i {
                color: white;
                font-size: 1.7rem;
                transition: all 0.3s linear;

                &:hover {
                    color: orange;
                }
            }

            
        }
    }
}



//--------------------------------------------------------------

// SECTION TWO


.section-two {
    height: auto;

    // background-color: #0cbaba;
    // background-image: linear-gradient(315deg,  #380036 0%,  rgb(207, 142, 22) 74%);

    background-color: #4c4177;
    background-image: linear-gradient(315deg, #380036 0%, #2a5470 74%);

    
    .section-two-title {
        display: flex;

        h2{
            line-height: 2.5rem;
            font-size: 3.5rem;
            color: white;
        }

        .first-h2 {
            padding-top: 3rem;
        }

        .second-h2 {
            padding-left: 25rem;
            padding-bottom: 3rem;
        }

        img {
            margin-top: 6rem;
            width: 4rem; height: 4rem;
            opacity: 90%;
        }
    }

    .form-container {
        display: flex;
        justify-content: center;
        padding-top: 1rem;

        fieldset {
            border: none;
        }

        legend {
            margin: 1rem auto;
            font-size: 0.9rem;
            text-transform: uppercase;
            color:white;
            font-weight: 600;
        }

        form {
            height: auto;    width: 35rem;
            background-color: $transparent-white;
            padding: 0.2rem;
            border-radius: 1rem;

            .generos {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                color: white;
                
                div {
                    display: flex;
                    margin: 0.5rem 1rem;
                    font-size: 1rem;
                    font-weight: 400;

                    input[type="radio"] {
                        margin: 0 0.4rem 0 0;
                    }
                }
            }

            hr {
                margin: 1rem 0;
                color: $transparent-white;
            }

            .todo {
                display: flex;
                justify-content: center;
                margin: 0.5rem 1rem;
                font-size: 1rem;
                font-weight: 400;
                color: white;

                input[type="radio"] {
                    margin: 0 0.4rem 0 0;
                }
            }

            .select-button {
                display: flex;
                justify-content: center;

                button {
                    margin: 0.5rem auto;
                    padding: 0.3rem 0.8rem;
                    cursor: pointer;
                }
            }
        }
    }

    #filters {
        display: flex;
        justify-content: center;
        margin: 3rem 0 0rem 0;
    
        #filter_container {
            display: none;

            .filter-buttons {
                 display: flex;     
                 flex-direction: row;
                 justify-content: center;
                 align-items: center;
         
                 button {
                     width: 10rem;
                     padding: 0.2rem 0.5rem;
                     margin: 0.2rem 0.5rem;
                     cursor: pointer;
                 }
         
                 i {
                     margin-left: 0.5rem;
                 }
             }
         }
    }
}

.main-movies-container {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    padding-bottom: 2rem;
    
    scroll-snap-align: end;   

    div {
        width: 15rem;
        max-width: 15rem;
        text-align: center;
        padding: 1rem 2rem;
        position: relative;
        margin: 0.8rem 0.5rem;

        .poster {
            width: 10rem;
            border: 0.1rem solid rgb(128, 128, 128);
        }

        .rating-container {
            position: absolute;
            top: -0.5rem; right: 0.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.8rem;  height: 2.8rem;

            .star-img {
                position: absolute;
                top: -0.05rem; right: 0.6rem;
                width: 2.8rem;  height: 2.8rem;
                opacity: 90%;
            }
    
            .rate {
                position: absolute;      
                color: black;
                font-size: 0.9rem;
                font-weight: bold;
            }      
        }

        h3 {
            font-size: 1rem;
            text-transform: uppercase;
            margin: 0.5rem 0;
            color: white;
        }

        p {
            color: white;
        }

        p, a {
            font-size: 0.85rem;
            line-height: 1.1rem;
        }

        a {
            color: orange;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



//--------------------------------------------------------------


// SECTION THREE

.section-three {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    margin: 0 auto;
    max-height: 100vh;
    

    .section-three-title {
        display: flex;
        padding: 2rem 0;

        h2{
            line-height: 2.5rem;
            font-size: 3.5rem;
        }

        img {
            width: 4rem;    height:4rem;
            margin-top: 0.2rem;
        }
    }

    .section-three-content {
        display: flex;
        justify-content: center; 
        align-items: center; 
        margin: 1rem 5rem;  

        div {
            margin: 0 1.5rem;
        }
    }

    .left-side-content {
        width: 25rem;
    }

    .text {
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .random-button {
        display: flex;
        justify-content: center;
        padding: 2rem 0;

        button {
            padding: 0.3rem 0.8rem;
            cursor: pointer;
        }
    }

    #display_random {
        background-color: $transparent-white;
        height: 25rem;  width: 30rem;
        border: 0.1rem dotted white;
        

        .random-movie {
            display: flex;
            align-items: center;    justify-content: center;
            margin: 0.5rem;
            position: relative;
            

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;    align-items: center;
                text-align: center;
                margin: 0.8rem 0.5rem;

        
                .poster {
                    width:10rem;    max-width: 10rem;
                    border: 0.1rem solid rgb(128, 128, 128);
                }
        
                .rating-container {
                    position: absolute;
                    top: -0.8rem; right: 7.8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.8rem;  height: 2.8rem;
        
                    .star-img {
                        position: absolute;
                        width: 2.8rem;  height: 2.8rem;
                        opacity: 90%;
                    }
            
                    .rate {
                        min-width: 0.5rem;  max-width: 0.5rem;
                        position: absolute;  
                        top:0.1rem;  right:0.6rem;    
                        color: black;
                        font-size: 0.8rem;
                        font-weight: bold;
                    }      
                }
        
                h3 {
                    font-size: 1rem;
                    text-transform: uppercase;
                    margin: 0.5rem 0;
                    color: white;
                }
        
                p, a {
                    font-size: 0.85rem;
                    line-height: 1.1rem;
                }
        
                a {
                    color: orange;
                    text-decoration: none;
        
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}




//--------------------------------------------------------------


// SECTION FOUR


.section-four {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #380036 0%, orange 74%);

    .section-four-title {
        display: flex;
        justify-content: center;

        img {
            width: 4rem;    height:4rem;
            margin: 2.2rem 1rem;
        }

        h2 {
            padding: 2rem 0;
            text-align: center;
        }
    }
}



// ------------------------------------------------------




// DARK MODE CLASS

.darkMode {
    background-color: #485461;
    background-image: linear-gradient(315deg, #202122 0%, #28313b 74%);
    color: white;
}

.whiteText {
    color: white;
}





// ------------------------------------------------------


// QUIZ GAME

#quiz_game {
    padding-top: 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 0 2rem 0;  
        color: white;

        h1 {
            font-family: $main-font;
            font-size: 3.5rem;
            text-transform: uppercase;
        }

        i {
            margin: 0 2rem;
            font-size: 1.8rem;
        }
    }

    .quiz-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        background-color: white;
        border-radius: 1rem;
        min-height: 20rem;
        position: relative;

        .levels-container {
            text-align: center;

            .select-diff {
                font-family: $accent-font;
                font-size: 1.5rem;
                color: black;
                font-weight: 500;
                margin-bottom: 2rem;
            }

            button {
                font-size: 1.1rem;
            }
        }
        
        .question-container {

            text-align: center;
            
            h3 {
                font-family: $accent-font;
                font-size: 3rem;
                color: black;
                font-weight: 600;
                margin: 2rem 0;
                text-align: center;
            }

            p, .final-score {
                font-family: $accent-font;
                font-size: 1.3rem;
                color: black;
                font-weight: 500;
                margin: 2rem 0;
                text-align: center;
            }

            p {
                padding: 1rem 1rem 0 1rem;
            }

            .final-score {
                color: #380036;
                font-size: 1.8rem;
            }
    
            .buttons-container {
                display: flex;
                justify-content: center;
                align-items: center;

                .options-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: 'option1 option2'
                                         'option3 option4';
                                         
                    text-align: center;
                    margin-bottom: 2rem;
                    align-items: center;
                }
            }

            .question-number {
                position: absolute;
                top: -2.3rem;  right: 0.8rem;
                font-size: 1.2rem;
                color: gray;
            }
    
        }

        .option, .start-button, .restart-button {
            margin: 0.5rem 0.3rem;
            padding: 0.3rem;
            cursor: pointer;
            border-radius: 0.3rem;
            background-color: rgb(182, 182, 182);
            border: none;
            width: 10rem;
            height: auto;
            min-height: 3rem;
            font-size: 0.9rem;
        }

        .start-button, .restart-button {
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 700;
            font-family: $accent-font;
            transition: all 0.4s linear;

            &:hover {
                background-color: #380036;
                color: white;
            }
        }

        .restart-button {
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }
        d
        .option1 {
            grid-area: option1;
        }
        .option2 {
            grid-area: option2;
        }
        .option3 {
            grid-area: option3;
        }
        .option4 {
            grid-area: option4;
        } 
    }
}

.perfect-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    margin: 1.8rem;
    font-family: $accent-font;
    font-weight: 500;
    font-size: 2rem;
    color:white;
}

.hide {
    display: none;
}


// MEDIA QUERIES MOBILE

@media all and (max-width:576px) {

    #quiz_game {
    
        .title {
                
            h1 {
                font-size: 2.6rem;
                margin: 1rem 0 2rem 0;
                text-align: center;
            }
        }

        .quiz-container {
            width: 90%;
        }

        .question-container {

            h3 {
                font-size: 2.6rem;
            }

            .option, .start-button, .restart-button {
                padding: 0.5rem;
                background-color: rgb(211, 211, 211);
                width: auto;
                max-width: 9rem;
                font-size: 0.9rem;
            }
        }
    }
}